@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

a {
    text-decoration: none;
    color: #000;
    cursor: url(../img/start/1300/cursor.png), pointer;
}

a:hover {
    text-decoration: underline;
    cursor: url(../img/start/1300/cursor.png), auto;
}

button {
    cursor: url(../img/start/1300/cursor.png), pointer;
}

.body {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    max-width: 1180px;
    margin: 30px auto;
}

.header__burger {
    padding: 0 0 0 20px;
    display: none;
    border-left: 1px solid #e7e8e8;
}

.header__burger:hover {
    cursor: url(../img/start/1300/cursor.png), pointer;
    color: #f14a58;
}

.header__login-bag {
    display: flex;
    justify-content: space-between;
}

.header__login-bag__logo, 
.header__login-bag__logo--mobile, 
.header__burger {
    margin: 0px;
    font: 1.75em OpenSans, sans-serif;
}
.header__login-bag__login{
    margin-right: 10px;
}
.header__login-bag__logo--mobile {
    display: none;
}

.header__login-bag__wrapper {
    display: flex;
    justify-content: space-between;
    font: 0.75em RobotoRegular, sans-serif;
}

.header__login-bag__bag__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.header__login-bag__bag__icon {
    order: 2;
}

.header__login-bag__bag__text {
    margin: 0 0 0 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: OpenSans, sans-serif;
}

.header__menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-size: 0.875em;
    width: 80.5%;
}

.header__menu__list__element__link:hover, .header__menu__list__element__link:focus {
    text-decoration: none;
    color: #f14a58;
}

.header__menu__search {
    border-bottom: 2px solid #e5e5e5;
    width: 10.2%;
    display: flex;
    justify-content: space-between;
}

.header__menu__search__input {
    font-size: 0.75em;
    width: 70%;
    border: none;
}

.header__menu__search__button {
    border: none;
    background-color: #fff;
    cursor: url(../img/start/1300/cursor.png), auto;
}

.banners {
    max-width: 1440px;
    padding: 1px 70px 2px 70px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: url(../img/start/1300/lines.png) center;
}

.banners__content {
    width: 49.85%;
    box-sizing: border-box;
    position: relative;
}

.banners__content--nike {
    background: url(../img/start/1300/nikeRed.png) no-repeat bottom;
}

.banners__content--adidas {
    background: url(../img/catalog/adidas.png) no-repeat bottom;
}

.banners__content--caps {
    background: #f7f7f7 url(../img/start/1300/caps&hats.png) no-repeat;
    background-position-y: -60px;
}

.banners__content--repair, .banners__content--bag {
    width: 25%;
}

.banners__content--bag {
    background: #f7f7f7 url(../img/catalog/bag.png) center no-repeat;
}

.banners__content--repair {
    background: #c9cbcd url(../img/catalog/repair.png) center no-repeat;
}

.banners__content__title--bag {
    color: #f14a58;
}

.banners__content__text__container {
    position: absolute;
    text-align: center;
    top: 8%;
    right: 16%;
}

.banners__content__text__container--low {
    top: 70%;
    width: 100%;
    right: auto;
    color: #fff;
}

.banners__content__title--center {
    margin: 0 auto;
}

.banners__content__title {
    font: 1.75em OpenSans, sans-serif;
    margin-bottom: 0px;
}

.banners__content--adidas .banners__content__title {
    color: #fff;
}

.banners__content--adidas .banners__content__text__container {
    right: 10%;
}

.banners__content__sale, .banners__content__text {
    font: italic 1em 'Times New Roman', Times, serif;
    color: #757575;
}

.banners__content__text {
    color: #fff;
}

.bestOffer {
    max-width: 1180px;
    margin: 100px auto;
    text-align: center;
}

.bestOffer__heading {
    font: 2.85em OpenSans, sans-serif;
    margin-bottom: 15px;
}

.bestOffer__text {
    font: italic 1em 'Times New Roman', Times, serif;
    margin: 0;
}

.bestOffer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bestOffer__content__image__wrapper {
    height: 340px;
    width: 240px;
    position: relative;
}

.bestOffer__content__image__new {
    position: absolute;
    top: 17px;
    left: 0;
    width: 55px;
    text-align: center;
    padding: 4px 0;
    background-color: #f14a58;
    color: #fff;
    font: 0.75em RobotoMedium, sans-serif;
}

.bestOffer__content__angle {
    margin: 70px 0 40px;
    cursor: url(../img/start/1300/cursor.png), auto;
}

.bestOffer__content__angle:last-child {
    margin: 40px 0 0;
    cursor: url(../img/start/1300/cursor.png), auto;
}

.bestOffer__content__image__wrapper--first {
    background: url(../img/start/1300/photo.png) center no-repeat;
}

.bestOffer__content__image__wrapper--second {
    background: url(../img/start/1300/photo2.png) no-repeat;
}

.bestOffer__content__title, 
.newArrivals__content__title, 
.catalog__content__title {
    font: .875em RobotoBold, sans-serif;
    max-width: 80%;
}

.catalog__product__wrapper {
    margin-bottom: 70px;
}

.bestOffer__content__price, 
.newArrivals__content__price,
.catalog__content__price {
    font: .875em RobotoRegular, sans-serif;
}

.bestOffer__content__symbol {
    font: 2em RobotoBold, sans-serif;
}

.bestOffer__content__total__wrapper {
    width: 29%;
    position: relative;
}

.bestOffer__content__total__old {
    position: relative;
    display: inline-block;
    text-align: start;
    top: 100px;
    left: -15%;
    font: 1.375em RobotoRegular, sans-serif;
    color: #757575;
}

.catalog__content__price__old {
    position: relative;
    font: 1em RobotoRegular, sans-serif;
    color: #757575;
    margin-right: 5px;
}

.bestOffer__content__total__old__strikeout, 
.catalog__content__price__old__strikeout {
    position: absolute;
    top: -12px;
    left: 0;
}

.catalog__content__price__old__strikeout {
    transform: scale(.6);
    top: -20px;
    left: -20px;
}

.bestOffer__content__total__new {
    font: 2em RobotoBold, sans-serif;
    margin: 90px 0 70px;
}

.bestOffer__content__total__bag-button, 
.bestOffer__bag-button {
    width: 100%;
    height: 75px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font: 1.125em OpenSans, sans-serif;
}

.bestOffer__content__total__bag-button:hover,
.bestOffer__bag-button:hover, 
.newArrivals____button:hover, 
.catalog____button:hover {
    border: 1px solid #f14a58;
    color: #f14a58;
}

.bestOffer__bag-button {
    width: 45%;
    display: none;
    margin: 65px auto 0;
}

.newArrivals, .catalog {
    max-width: 1180px;
    margin: 100px auto;
    text-align: center;
}

.catalog {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog__sale-info {
    margin: 0px auto 50px;
    width: 100%;
}

.catalog__sale-info__heading {
    font: 1.55em OpenSans, sans-serif;
}

.catalog__sale-info__text {
    font: italic 1em 'Times New Roman', Times, serif;
}

.newArrivals__heading {
    font: 2.85em OpenSans, sans-serif;
}

.newArrivals__content {
    display: flex;
    justify-content: space-between;
    margin: 90px 0 60px;
}

.newArrivals__product__wrapper, 
.catalog__product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    position: relative;
}

.newArrivals__product__wrapper:hover, 
.catalog__product__wrapper:hover {
    cursor: url(../img/start/1300/cursor.png), auto;
}

.newArrivals__product__wrapper:hover .newArrivals__content__title,
.catalog__product__wrapper:hover .catalog__content__title {
    color: #f14a58;
}

.newArrivals__product__image--filter, 
.catalog__product__image--filter {
    display: none;
    position: absolute;
    top: 0;
    left: auto;
}

.newArrivals__product__wrapper:hover .newArrivals__product__image--filter,
.catalog__product__wrapper:hover .catalog__product__image--filter {
    display: block;
}

.newArrivals__content__image__new, 
.catalog__content__image__new {
    position: absolute;
    top: 17px;
    left: 0;
    width: 55px;
    text-align: center;
    padding: 4px 0;
    background-color: #f14a58;
    color: #fff;
    font: 0.75em RobotoMedium, sans-serif;
}

.newArrivals____button, 
.catalog____button {
    width: 29%;
    height: 75px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font: 1.125em OpenSans, sans-serif;
}

.catalog__button__wrapper {
    width: 100%;
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer__info {
    padding: 1px 130px 2px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: url(../img/start/1300/lines.png) center;
}

.footer__links {
    width: 50%;
    display: flex;
}

.footer__info__contact {
    width: 45%;
}

.footer__info__contact__wrapper {
    display: flex;
}

.footer__info__contact__list__heading, 
.footer__links__list__heading {
    font: 1em OpenSans, sans-serif;
    margin: 50px 0;
}

.footer__info__contact__list__element {
    font: 0.8em RobotoRegular, sans-serif;
}

.footer__info__contact__list__element__id {
    font: 1.1em RobotoBold, sans-serif;
}

.footer__info__contact__list__heading {
    margin-bottom: 20px;
}

.footer__links__list {
    display: flex;
    flex-direction: column;
}

.footer__links__list__element {
    font: 0.8em RobotoRegular, sans-serif;
    line-height: 3em;
    display: inline-block;
}

.footer__links__list, 
.footer__info__contact__list {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__info__contact__delivery {
    margin: 70px 0 40px;
    max-width: 58%;
    font: italic 1em 'Times New Roman', Times, serif;
    line-height: 2em;
    color: #757575;
}

.footer__info__contact__social__link {
    margin-right: 20px;
}

.footer__info__contact__social__link:hover {
    text-decoration: none;
}

.footer__share, 
.filters {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_share__copyright {
    width: 32.5%;
    font: 0.6em RobotoBold, sans-serif;
}

.footer_share__wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footer_share__share {
    font: 1.1em OpenSans, sans-serif;
}

.footer_share__counter {
    font: 0.7em RobotoRegular, sans-serif;
    background: #f4f4f4;
    padding: 5px;
    margin-left: 5px;
}

.footer__share__list, 
.footer__share__list--mobile {
    width: 30%;
    display: flex;
    list-style: none;
    font: 0.7em RobotoBold, sans-serif;
    justify-content: flex-end;
}

.footer__share__list__element {
    margin-left: 35px;
}

.footer__share__list--mobile {
    display: none;
}

.line__wrapper {
    background: url(../img/start/1300/line.png) center;
    max-width: 1440px;
    height: 1px;
    margin: 0 auto;
}
.filter__select{
    width: 16.5%;
    position: relative;
    cursor: url(../img/start/1300/cursor.png), pointer;
}
.filters__dropdown{
    position: absolute;
    z-index: 99;
    display: none;
    border: 1px solid #e5e5e5;
    background: #fff;
    width: 100%;
    padding: 15px 0;
    flex-direction: column;
    cursor: url(../img/start/1300/cursor.png), pointer;
}
.filters__input{
    display: none;
}
.filters__label{
    padding: 5px 0 5px 20px;
    font: 0.8em OpenSans, sans-serif;
    cursor: url(../img/start/1300/cursor.png), pointer;
}
.filter__info--checked{
    background-color: #f7f7f7;
}
.filter__title--checked{
    position: absolute;
    top: -10px;
    font-size: 0.8em;
}
.filters__label:hover{
    background-color: #f7f7f7;
    color: #f14a58;
}
.filter__value{
    position: relative;
    top: 10px;
    color: #f14a58; 
}
.filter__info{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 10px 20px;
    font: 1.1em OpenSans, sans-serif;
}
.filter__dropdown--range{
    display: none;
    padding: 20px 0 0 20px;
    position: relative;
}
.filter__select:hover > .filters__dropdown{
    display: flex;
}
.filter__select--range:hover > .filter__info{
    display: none;
}
.filter__select--range:hover > .filter__dropdown--range{
    position: relative;
    display: flex;
}
.filter__mark{
    position: absolute;
    top: 12px;
    left: -20px;
    cursor: pointer;
}
.filter__mark--first{
    left: -24px;
}
.filter__mark--second{
    left: 140px;
}
.filter__mark--first::before{
    content: "£12.00";
    position: relative;
    font: 0.8em RobotoBold, sans-serif;
    top: -20px;
    left: 40px;
}
.filter__mark--second::before{
    content: "£650.00";
    position: absolute;
    font: 0.8em RobotoBold, sans-serif;
    top: -20px;
    left: -20px;
}
@media screen and (max-width: 1024px) {
    .body {
        max-width: 768px;
    }
    .header__menu__search {
        width: 0%;
        border: none;
    }
    .header__menu__search__input {
        display: none;
    }
    .header__menu__search__input--visible {
        display: block;
    }
    .header__menu__search--tablet {
        display: flex;
        position: absolute;
        align-items: center;
        right: 10%;
        width: 30%;
        height: 40px;
        border-bottom: 2px solid #e5e5e5;
        box-shadow: -15px 5px 10px #fff;
    }
    .header__menu__list {
        font-size: 0.75em;
    }
    .banners__content__title {
        font-size: 1.5em;
    }
    .banners {
        max-width: 768px;
        padding: 1px 0 2px 0;
        height: 240px;
        margin: 0 auto;
        background-size: cover;
    }
    .banners__content--nike {
        background-position: center;
        background-size: cover;
    }
    .banners__content--caps {
        background-position-y: -40px;
        background-size: 60%;
    }
    .banners__content--adidas {
        background-size: cover;
        background-position: top;
        width: 67%;
    }
    .banners__content--repair {
        width: 33%;
        background-size: 70%;
    }
    .banners__content--bag {
        display: none;
    }
    .header, .bestOffer, .newArrivals, .catalog, .footer__share {
        max-width: 690px;
    }
    .bestOffer__heading, .newArrivals__heading {
        font-size: 2.15em;
    }
    .bestOffer__content__total__new, .bestOffer__content__symbol {
        font-size: 2em;
    }
    .bestOffer__content__total__new {
        margin: 90px 0 90px;
    }
    .bestOffer__content__total__old {
        font-size: 1.5em;
    }
    .bestOffer__content__total__bag-button {
        visibility: hidden;
    }
    .bestOffer__bag-button {
        display: block;
    }
    .bestOffer__content__image__wrapper, 
    .bestOffer__content__total__wrapper, 
    .newArrivals__product__image__wrapper, 
    .catalog__product__image__wrapper {
        transform: scale(.75);
    }
    .catalog__product__wrapper {
        max-width: 30%;
    }
    .catalog{
        margin-top: 0;
    }
    .catalog__product__wrapper {
        order: 4;
    }
    .catalog__button__wrapper {
        order: 4;
    }
    .catalog__product__wrapper:first-child, .catalog__product__wrapper:nth-child(2), .catalog__product__wrapper:nth-child(3) {
        order: 1;
    }
    .catalog__sale-info {
        order: 2;
        max-width: 80%;
    }
    .catalog__sale-info__heading {
        font-size: 1.25em;
        line-height: 1.5em;
    }
    .catalog__sale-info__text {
        font-size: 1em;
        line-height: 2em;
    }
    .bestOffer__content__angle {
        margin: 70px 0 0;
    }
    .newArrivals__product__wrapper:last-child {
        display: none;
    }
    .newArrivals____button, .catalog____button {
        width: 45%;
    }
    .newArrivals__content {
        margin: 40px 0 60px;
    }
    .newArrivals__content__title, .catalog__content__title {
        margin: 0 0 10px;
    }
    .footer {
        max-width: 768px;
    }
    .footer__info {
        max-width: 690px;
        height: auto;
        padding: 0 0 0 50px;
        background: none;
        border-top: 1px solid #e7e8e8;
        border-bottom: 1px solid #e7e8e8;
    }
    .footer__links {
        width: 66%;
    }
    .footer__info__contact {
        width: 30%;
    }
    .footer__info__contact__wrapper {
        flex-direction: column;
    }
    .footer__info__contact__list {
        width: 100%;
    }
    .footer__info__contact__delivery {
        display: none;
    }
    .footer__info__contact__list:last-child {
        margin-bottom: 80px;
    }
    .footer__info__contact__list:last-child .footer__info__contact__list__heading {
        margin-top: 40px;
    }
    .footer_share__share {
        font-size: 1em;
    }
    .footer_share__copyright, .footer__share__list {
        width: 47%
    }
    .footer_share__wrapper {
        width: 15%;
    }
    .footer__share__list__element {
        margin-left: 15px;
    }
    .filters{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .body {
        max-width: 375px;
    }
    .header {
        max-width: 335px;
        align-items: center;
        margin-top: 0;
    }
    .header__login-bag {
        height: 70px;
        align-items: center;
    }
    .header__login-bag__bag__wrapper {
        align-items: center;
    }
    .header__login-bag__logo, 
    .header__login-bag__login, 
    .header__menu, 
    .banners__content--caps {
        display: none;
    }
    .header__burger {
        display: flex;
        height: 100%;
        align-items: center;
        font-size: 2em;
    }
    .header__login-bag__wrapper {
        width: 70%;
        justify-content: flex-end;
    }
    .header__login-bag__bag__wrapper {
        width: auto;
    }
    .header__menu--mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        font-size: 1.75em;
        border-top: 1px solid #e7e8e8;
        margin-bottom: 20px;
    }
    .header__menu__list {
        flex-direction: column;
        line-height: 2.5em;
    }
    .header__menu__search__input {
        display: block;
        font-size: 0.4em;
    }
    .header__menu__search {
        border-bottom: 2px solid #e5e5e5;
        width: 40%;
        display: flex;
    }
    .header__login-bag__logo--mobile {
        display: block;
    }
    .banners__content--nike, .banners__content--adidas {
        width: 100%;
    }
    .banners__content__title {
        font-size: 1.3em;
    }
    .banners__content__text {
        font-size: 0.9em;
    }
    .banners__content--repair {
        display: none;
    }
    .bestOffer, .newArrivals, .catalog, .footer__share, .footer__info {
        max-width: 335px;
    }
    .bestOffer__heading, .newArrivals__heading {
        font-size: 2em;
    }
    .bestOffer__text {
        line-height: 2em;
    }
    .bestOffer__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bestOffer__content__wrapper {
        width: 47%;
    }
    .bestOffer__content__symbol {
        width: 6%;
    }
    .bestOffer__content__angle {
        margin: 70px 0 30px;
    }
    .bestOffer__content__angle:last-child {
        margin: 30px 0 0;
    }
    .bestOffer__content__image__wrapper,
    .bestOffer__content__total__wrapper,
    .newArrivals__product__image__wrapper,
    .catalog__product__image__wrapper {
        transform: none;
        width: 155px;
        height: 230px;
    }
    .bestOffer__content__title, 
    .newArrivals__content__title, 
    .catalog__content__title {
        min-width: 100%;
    }
    .catalog__product__wrapper {
        max-width: 45%;
    }
    .catalog__product__wrapper:nth-child(3) {
        order: 4;
    }
    .catalog__sale-info__heading {
        font-size: 1.15em;
        line-height: 1.5em;
    }
    .catalog__sale-info__text {
        font-size: 0.9em;
        line-height: 2em;
    }
    .bestOffer__content__image__wrapper--first, 
    .bestOffer__content__image__wrapper--second {
        background-size: 100%;
    }
    .bestOffer__content__total__bag-button {
        display: none;
    }
    .bestOffer__bag-button, 
    .newArrivals____button, 
    .caatlog____button {
        margin: 0 auto;
        width: 75%;
    }
    .bestOffer__content__total__new {
        margin: 20px 0 90px;
    }
    .bestOffer__content__total__old {
        top: 30px;
        left: none;
    }
    .newArrivals__content, 
    .catalog {
        justify-content: space-between;
    }
    .catalog {
        margin-top: 10px;
    }
    .newArrivals__product__wrapper, 
    .newArrivals__product__wrapper {
        max-width: 45%;
    }
    .newArrivals__product__wrapper:nth-child(3n) {
        display: none;
    }
    .newArrivals__product__image, 
    .catalog__product__image {
        max-width: 100%;
    }
    .newArrivals__product__image--filter, 
    .catalog__product__image--filter {
        width: inherit;
        left: auto;
    }
    .footer__info {
        padding: 0;
        flex-wrap: wrap;
    }
    .footer__links, .footer__info__contact {
        width: 100%;
    }
    .footer__links__list, 
    .footer__info__contact__list {
        padding-left: 10px;
    }
    .footer__info__contact__list {
        margin-top: 40px;
        padding: 25px 10px 25px;
        border-top: 1px solid #e7e8e8;
        border-bottom: 1px solid #e7e8e8;
    }
    .footer__info__contact__list:last-child {
        margin-bottom: 0;
    }
    .footer__info__contact__list:last-child .footer__info__contact__list__heading, .footer__info__contact__list__heading {
        margin-top: 0;
    }
    .footer__info__contact__wrapper {
        flex-direction: row;
    }
    .footer__info__contact__list:last-child {
        border-left: 1px solid #e7e8e8;
    }
    .footer__info__social__link__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__share__list--mobile {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        padding: 0;
    }
    .footer__share__list {
        display: none;
    }
    .footer_share__wrapper {
        width: 30%;
    }
    .footer_share__copyright {
        width: 70%;
    }
}